/* Small screens and up */
@media screen and (max-width: 640px) {
  .authformbg {
    background-image: linear-gradient(to top right, #083232, #061724, #07181d);
  }
}

/* Medium screens and up */
/* @media (min-width: 768px) {
  .authformbg {
    background-color: #343A49;
    background-image: none;
    opacity: 0.7;
  }
} */
